name: Build

permissions:
  contents: read

on:
  workflow_call:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install NPM Modules
        run: npm ci

      - name: Build
        run: npm run build

      - name: Tests
        run: npm test

      - name: Lint
        run: npm run lint

      - name: NPM Audit
        run: npm run audit:ci

      - name: Package
        run: npm pack
      
      - name: Upload NPM Package File
        uses: actions/upload-artifact@v4
        with:
          name: volusion-element-components
          path: volusion-element-components*.tgz
