name: Publish to JFrog Artifactory

permissions:
  contents: read

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    name: publish-to-artifactory
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: 'https://volusion.jfrog.io/artifactory/api/npm/npm/'
          scope: '@volusion'

      - name: Configure npm authentication
        env:
          NODE_AUTH_TOKEN: ${{ secrets.JF_ARTIFACTORY_API_KEY }}
        run: |
          npm config set //volusion.jfrog.io/artifactory/api/npm/npm/:_authToken=${NODE_AUTH_TOKEN}
          npm config set //volusion.jfrog.io/artifactory/api/npm/npm/:always-auth true

      - name: Install NPM Modules
        run: npm ci

      - name: Build
        run: npm run build

      - name: Tests
        run: npm test

      - name: Lint
        run: npm run lint

      - name: NPM Audit
        run: npm run audit:ci

      - name: Publish to JFrog Artifactory
        run: npm publish
