name: Publish to JFrog Artifactory

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    name: publish-to-artifactory
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm

      - name: Configure npm registry
        run: |
          echo "registry=https://volusion.jfrog.io/artifactory/api/npm/npm/" > .npmrc
          echo "//volusion.jfrog.io/artifactory/api/npm/npm/:_authToken=${{ secrets.JFROG_AUTH_TOKEN }}" >> .npmrc

      - name: Install NPM Modules
        run: npm ci

      - name: Build
        run: npm run build

      - name: Tests
        run: npm test

      - name: Lint
        run: npm run lint

      - name: NPM Audit
        run: npm run audit:ci

      - name: Publish to JFrog Artifactory
        run: npm publish
