name: Publish to JFrog Artifactory

permissions:
  contents: read
  id-token: write

on:
  workflow_call:

jobs:
  publish:
    name: Publish To Artifactory
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure npm authentication  
        env:
          JF_ARTIFACTORY_USER_NAME: ${{ secrets.JF_ARTIFACTORY_USER_NAME }}
          JF_ARTIFACTORY_API_KEY: ${{ secrets.JF_ARTIFACTORY_API_KEY }}
        run: |
          curl -u ${JF_ARTIFACTORY_USER_NAME}:${JF_ARTIFACTORY_API_KEY} \
            https://volusion.jfrog.io/artifactory/api/npm/auth | \
            sed 's/_auth/\/\/volusion.jfrog.io\/artifactory\/api\/npm\/npm\/:_auth/' > .npmrc
          echo "registry=https://volusion.jfrog.io/artifactory/api/npm/npm/" >> .npmrc
          echo "@volusion:registry=https://volusion.jfrog.io/artifactory/api/npm/npm/" >> .npmrc

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Download NPM Package File
        uses: actions/download-artifact@v4
        with:
          name: volusion-element-components
          
      - name: Publish to JFrog Artifactory
        run: npm publish

  publish-to-npm:
    name: Publish To NPMJS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          registry-url: 'https://registry.npmjs.org'
          
      - name: Download NPM Package File
        uses: actions/download-artifact@v4
        with:
          name: volusion-element-components

      - run: npm publish
