name: Publish to JFrog Artifactory

permissions:
  contents: read

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    name: publish-to-artifactory
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure npm registry
        env:
          JF_ARTIFACTORY_USER_NAME: ${{ secrets.JF_ARTIFACTORY_USER_NAME }}
          JF_ARTIFACTORY_API_KEY: ${{ secrets.JF_ARTIFACTORY_API_KEY }}
        run: |
          echo "registry=https://volusion.jfrog.io/artifactory/api/npm/npm/" > .npmrc
          echo "//volusion.jfrog.io/artifactory/api/npm/npm/:username=${JF_ARTIFACTORY_USER_NAME}" >> .npmrc
          echo "//volusion.jfrog.io/artifactory/api/npm/npm/:_password=$(echo -n ${JF_ARTIFACTORY_API_KEY} | base64 -w 0)" >> .npmrc
          echo "//volusion.jfrog.io/artifactory/api/npm/npm/:email=noreply@volusion.com" >> .npmrc
          echo "//volusion.jfrog.io/artifactory/api/npm/npm/:always-auth=true" >> .npmrc

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm

      - name: Install NPM Modules
        run: npm ci

      - name: Build
        run: npm run build

      - name: Tests
        run: npm test

      - name: Lint
        run: npm run lint

      - name: NPM Audit
        run: npm run audit:ci

      - name: Publish to JFrog Artifactory
        run: npm publish
