name: Verify PR

on:
    pull_request:
        branches: [master]

jobs:
    build:
        name: verify-pr
        runs-on: ubuntu-latest

        steps:
          - name: Checkout code
            uses: actions/checkout@v2

          - name: Configure npm authentication  
            env:
              JF_ARTIFACTORY_USER_NAME: ${{ secrets.JF_ARTIFACTORY_USER_NAME }}
              JF_ARTIFACTORY_API_KEY: ${{ secrets.JF_ARTIFACTORY_API_KEY }}
            run: |
              curl -u ${JF_ARTIFACTORY_USER_NAME}:${JF_ARTIFACTORY_API_KEY} \
                https://volusion.jfrog.io/artifactory/api/npm/auth > .npmrc
              echo "registry=https://volusion.jfrog.io/artifactory/api/npm/npm/" >> .npmrc
              echo "@volusion:registry=https://volusion.jfrog.io/artifactory/api/npm/npm/" >> .npmrc

          - name: Use Node.js
            uses: actions/setup-node@v6
            with:
              node-version: 22

          - name: Install NPM Modules
            run: npm ci

          - name: Build
            run: npm run build

          - name: Tests
            run: npm test

          - name: Lint
            run: npm run lint

          - name: NPM Audit
            run: npm run audit:ci
